<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906715819091-gsh72318chuce5t0lga302m4es2de9ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906715819091-gsh72318chuce5t0lga302m4es2de9ah</string>
	<key>API_KEY</key>
	<string>AIzaSyATnhw0_VRqLAMcLR1lu_XtKZPOCK15Fn0</string>
	<key>GCM_SENDER_ID</key>
	<string>906715819091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quiz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quizfypp</string>
	<key>STORAGE_BUCKET</key>
	<string>quizfypp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906715819091:ios:7795ec45383575e3efeaa6</string>
</dict>
</plist>